APP_NAME=VacationManager
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://vacationmanagement.ml

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laraveluser
DB_PASSWORD=fwfsrVjF

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=587
MAIL_USERNAME=vacationmanagerproject@gmail.com
MAIL_PASSWORD=iuqxbdtjijdmcfqe
MAIL_ENCRYPTION=tls

GOOGLE_CLIENT_ID=868965433394-3dn2gbnlup1btqk61v2bj6i1to92ugl9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=CKcyBq4VQIJ7OFlyVX1rXctu

MAX_VALIDATION_DAY=15
